@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

html,
body,
.main-container {
    height: 100%;
}

body {
    font-family: "Roboto", monospace, sans-serif;
    font-size: 1.3rem;
    line-height: 1.4;

    background: #eee;

    color: #fff;

    display: flex;
    flex-direction: column;
}


.header {
    display: flex;
    flex-direction: column;
    background: #1f2937;
    padding: 2rem;
    align-items: center;
    border: 2px solid blue;
}

.nav {
    display: flex;
    justify-content: space-between;
    /* width: 100%; */
}

.logo {
    width: 45%;
}



.list{
    list-style: none;
    width: 45%;
    display: flex;
    /* gap: 1rem; */
}

.list a {
    text-decoration: none;
    color: currentColor;
    font-size: 1.4rem;
}

.header-content{
    border: 3px solid;
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
}

.text {
    width: 45%;
    /* flex: auto; */
}

h1, h2, h3, h4 {
    line-height: 1;
}

img {
    max-width: 100%;
    /* width: 45%; */
    /* width: 45%; */
    border-radius: 12px;
}



