@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
}

body {
    font-family: Roboto, sans-serif;
    font-size: 1.3rem;
    line-height: 1.4;

    background: #1F2937;
    color: #fff;
}

.main-container {
    display: flex;
    flex-direction: column;
    padding: 1rem 5rem;
    border: 3px solid red;
    justify-content: space-between;
}

.header {
    flex: 1;
    border: 2px solid ;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.list {
    list-style: none;
    display: flex;
    gap: 1rem;
}

.list a {
    color: currentColor;
    font-size: 1.5rem;
}

.logo {
    font-family: "Lobster", sans-serif;
    font-size: 2rem;
}

/* Hero section  */
h1 {
    line-height: 1;
}

.hero {
    display: flex;
    justify-content: space-between;
    height: 400px;
    align-items: center;
    /* margin-block-start: 3rem; */
}

.text {
    width: 48%;
    height: 300px;
}

.img-placeholder {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45%;
    height: 300px;
    background: darkgray;
    align-self: flex-center;
}

/* Foooter */

.footer {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    box-shadow: 2px 2px 10px rgb(0, 0, 0, 0.3);
}